body{
    color:rgb(253, 249, 0);
    background:oklab(from rgb(255, 255, 255) l a b);
    background-repeat:round;
    height: 100vh;
}

h1{
    font-size:32pt;
    color: rgb(80, 126, 27);
}
h2{
    color: rgb(0, 0, 0);
    font-size:12pt;
}