body{
    color:rgb(253, 249, 0);
    background:linear-gradient(300deg,red,blue);
    background-repeat: no-repeat;
    height: 100vh;
}

h1{
    font-size:45pt;
    color: rgb(216, 2, 37);
}
h2{
    color: rgb(17, 238, 127);
    font-size:15pt;
}