body{
    color:#fdf900;
    background-color: rgb(13, 25, 94);
    background-repeat:round;
    height: 100vh;
}

h1{
    font-size:32pt;
    color: rgb(187, 199, 24);
}
h2{
    color: rgb(255, 255, 255);
    font-size:12pt;
}